= render Spina::MainNavigation::SubNavComponent.new(:conferences) do |nav|
  - nav.icon do
    = heroicon 'chat-alt-2', style: :solid, class: 'w-8 h-8 text-white md:mr-3'
    .text-white.font-semibold.hidden{class: 'md:block transform -translate-x-2 ease-in-out duration-300 absolute md:relative opacity-0 transition-all', 'data-navigation-target': 'label'}
      = Spina::Admin::Conferences::Conference.model_name.human(count: :many)

  - nav.links do
    = render Spina::MainNavigation::LinkComponent.new(Spina::Admin::Conferences::Institution.model_name.human(count: :many),
                                                      spina.admin_conferences_institutions_path,
                                                      active: %w[institutions rooms].include?(controller_name))
    = render Spina::MainNavigation::LinkComponent.new(Spina::Admin::Conferences::Conference.model_name.human(count: :many),
                                                      spina.admin_conferences_conferences_path,
                                                      active: %w[conferences presentation_types sessions].include?(controller_name))
    = render Spina::MainNavigation::LinkComponent.new(Spina::Admin::Conferences::Delegate.model_name.human(count: :many),
                                                      spina.admin_conferences_delegates_path,
                                                      active: %w[delegates].include?(controller_name))
    = render Spina::MainNavigation::LinkComponent.new(Spina::Admin::Conferences::Presentation.model_name.human(count: :many),
                                                      spina.admin_conferences_presentations_path,
                                                      active: %w[presentations].include?(controller_name))
    = render Spina::MainNavigation::LinkComponent.new(Spina::Admin::Conferences::DietaryRequirement.model_name.human(count: 0),
                                                      spina.admin_conferences_dietary_requirements_path,
                                                      active: controller_name == 'dietary_requirements')
    = render Spina::MainNavigation::LinkComponent.new(Spina::Admin::Conferences::PresentationAttachmentType.model_name.human(count: 0),
                                                      spina.admin_conferences_presentation_attachment_types_path,
                                                      active: controller_name == 'presentation_attachment_types')


