%tr.border-b{ data: { session_id: session.id } }
  %td= link_to session.name, edit_admin_conferences_session_path(session), class: 'block text-spina font-medium text-sm p-4 hover:text-spina-dark'
  %td
    .block.font-light.text-sm.p-4= session.presentation_type_name
  %td
    .block.font-light.text-sm.p-4= session.room_name
  %td
    = link_to edit_admin_conferences_session_path(session), class: 'btn btn-default mx-4 w-max' do
      .flex.flex-nowrap.items-center.px-8.py-1
        = heroicon 'pencil-alt', style: :outline, class: 'w-4 h-4'
        .ml-2= t 'spina.edit'
