= render Spina::Forms::GroupComponent.new(label: Spina::Admin::Conferences::Conference.human_attribute_name(:name)) do
  = render Spina::Forms::TextFieldComponent.new(f, :name)
= render Spina::Forms::GroupComponent.new(label: Spina::Admin::Conferences::Conference.human_attribute_name(:start_date)) do
  = f.date_field :start_date, value: (@conference.start_date.strftime("%Y-%m-%d") if @conference.start_date.present?), placeholder: Spina::Admin::Conferences::Conference.human_attribute_name(:start_date)
= render Spina::Forms::GroupComponent.new(label: Spina::Admin::Conferences::Conference.human_attribute_name(:finish_date)) do
  = f.date_field :finish_date, value: (@conference.finish_date.strftime("%Y-%m-%d") if @conference.finish_date.present?), placeholder: Spina::Admin::Conferences::Conference.human_attribute_name(:finish_date)


.mt-6{ 'data-controller': 'repeater' }
  %label.block.text-sm.leading-5.font-medium.text-gray-700= Spina::Admin::Conferences::Conference.human_attribute_name :events
  .-mt-4.flex.flex-col.md:flex-row{ data: { 'controller': 'tabs', 'tabs-active': 'bg-spina-dark bg-opacity-10 text-gray-900', 'tabs-inactive': 'text-gray-500' }  }
    .md:w-64.md:pr-6

      -# Fields for new event
      - new_event = Spina::Admin::Conferences::Event.new
      - fields = f.fields_for(:events, [new_event], child_index: new_event.object_id) { |ff| render('event_fields', f: ff) }.gsub('\n', '')

      -# Tabs
      .pt-6.-ml-3
        %div{ data: { action: 'exists->tabs#added', 'repeater-target' => 'list', 'tabs-target' => 'list' } }
          - (f.object.events || []).each.with_index do |event, index|
            %button.text-gray-500.hover:text-gray-900.rounded-md.px-3.truncate.text-sm.font-medium.flex.items-center.w-full.h-9{ data: { 'action': 'tabs#show', 'pane-id': "pane_#{event.object_id}", 'repeater-target': 'listItem', 'tabs-target': 'button' }, type: 'button' }
              %svg.w-4.h-4.mr-2{ fill: 'currentColor', viewbox: '0 0 448 512', xmlns: 'http://www.w3.org/2000/svg' }
                %path{ d: 'M432 288H16c-8.8 0-16 7.2-16 16v16c0 8.8 7.2 16 16 16h416c8.8 0 16-7.2 16-16v-16c0-8.8-7.2-16-16-16zm0-112H16c-8.8 0-16 7.2-16 16v16c0 8.8 7.2 16 16 16h416c8.8 0 16-7.2 16-16v-16c0-8.8-7.2-16-16-16z' }
              = event&.name
        %button.text-gray-400.pl-2.hover:text-gray-900.rounded-md.truncate.text-sm.font-medium.flex.items-center.w-full.h-10{ data: { 'action': 'repeater#addFields', 'child-index': "#{new_event.object_id}", 'fields': fields }, type: 'button' }
          = heroicon 'plus', style: :solid, class: 'w-6 h-6 mr-1' 
          = t 'spina.ui.new_entry'

    -# Content
    .flex-1.pl-6.md:pl-0{ 'data-repeater-target': 'content' }
      = f.fields_for :events do |event_fields|
        = render 'event_fields', f: event_fields
